# Database Configuration
DATABASE_URL=postgres://iu_did_user:iu_did_password@localhost:5432/iu_did_db

# Admin API Configuration
ADMIN_PORT=4000

# Main Server Configuration
PORT=3000
HTTPS_PORT=3443

